/* Universal Styling */

html,
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

ul, li {
  margin: 5px;
  padding: 5px;
  list-style-type: none;
}

a:link {
  color: seashell;
}

/* Header */

.header {
  display: flex;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
}

.header .logo {
  margin: 10px;
  height: 50px;
  width: 50px;
}

li {
  display: inline;
}

/* Mission */

.Mission {
  position: relative;
  display: flex;
  top: 70px;
  justify-content: center;
  align-items: center;
}

.Statement {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Statement h2,
.Statement h4 {
  background-color: black;
  width: 1200px;
  margin: 0;
}

.push {
  background-color: black;
  width: 1200px;
  height: 20px;
}

/* Tea of the Month */

.Tea {
  display: flex;
  position: relative;
  top: 120px;
  width: 1000px;
  align-items: center;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: auto;
}

.Menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
}

.Item {
  padding: 12px;
}

.Item h4 {
  padding: 10px;
}

/* Locations */

.Locations {
  position: relative;
  top: 150px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  position: relative;
  height: 500px;
  width: 1200px;
  margin: auto;
}

.Section {
  display: flex;
  justify-content: space-around;
}

.Address {
  display: flex;
  background-color: black;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 300px;
  opacity: 1;
  margin: 15px 20px auto 20px;
  padding: 0;
}

.List {
  text-align: center;
  padding-top: 50px;
}

h3,
h4 {
  margin: 0;
  padding: 0;
}

/* Contact */

.Contact {
  position: relative;
  top: 140px;
  height: 200px;
}

/* Copyright */

.Copyright {
  text-align: left;
  position: relative;
  top: 100px;
  margin: 20px;
  padding-bottom: 5px;

}
